body, html{
    margin:0!important;
    padding:0!important;
    background-color:rgb(0, 0, 0);
    font-family: 'roboto', sans-serif;
    letter-spacing: 1.3px;

}
h2{
    padding:0;
    margin:0;
}

 /* ============ Menu Container=================================== */

.container{
    width: 100%;
    height: 100%;
    color:white;
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: space-between;
    overflow: hidden;
}

.items{
    width:60%;
    height:100%;
    display:flex;
    flex-wrap: wrap;

}

.items img{
    width:40%;
    margin-bottom: 1rem;
}

.menuItem{
    /* border-radius: 10px; */
    width:calc(100%/3 - 6px);
    border:1px solid white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}



 /* ============ Side Container=================================== */


.aside{
    width:40%;
    height:100%;
    padding-top:1rem;
    padding-left:5px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right:2rem;


}

.orderType{
    height:10%;
    border-bottom: 1px solid white;
    text-align: center;
    padding-top: 5px;
}

.orderType button{
    width:30%;
    height:50px;
    margin-right:3px;
    margin-bottom:1px;
    border:1px solid white;
    border-radius: 2px;
    
}
.orderTypeSelected{
  background-color:white;
  color:black;
}
.orderTypeUnselected{
  background:none;
  color:white;
}

.orderItems{
    height:auto;
    height:70%;
    border-bottom: 1px solid white;
    text-align: center;
    
}
.orderItemsScrollable{
  overflow-y: scroll;
}

.orderItem{
    width:100%;
    height:50px;
    background-color: rgb(19, 18, 18);
    color:white;
    border:none;
    margin-bottom:2px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.totalContainer{
    width:100%;
    height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 10px;
}
.totalContainer h2{
  margin-top:5px;
}
.totalResult{
  display:flex;
  flex-direction: row;

}
.totalMenu{
   display: flex;
   align-items: flex-end;
   
}

.orderButton{
    width:50%;
    height:50px;
    margin-right:3px;
    background: none;
    color: white;
    border:1px solid white;
    border-radius: 2px;
    margin-bottom: 5px;
}

.totalOutput{
  margin-left:10px;
  font-size: 30px;
    
}


/* ============ Menu items overlay ===========================  */

.overlay{
    position: absolute;
    z-index: 999;
    top:0%;
    left:0%;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%; 
}

.modal{
    color: white;
    border:1px solid white;
    background-color:rgb(22, 21, 21);
    padding:1rem;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    border-radius: 3px;
}

.product{
    min-width:80px;
    max-width: 160px;
    border:1px solid white;
    margin-left:10px;
    text-align: center;
    padding: 1rem;
    
}

.modal p:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}

.closeModal{
    position: absolute;
    top:4rem;
    right:4rem;
    font-size:50px;
    background:none;
    border:none;
    outline: none;
    z-index: 999;
    color:white
}


/* =========================================== */


.mright{
    margin-right:1rem;
}

.mleft{
    margin-left:1rem;
}

.font20{
    font-size: 20px;
}

.commented{
    color:orange;
}


/* ============ Edit Order Modal ===========================  */

.editOrderModal{
    width:800px;
    height:500px;
    color:white;
    padding: 10px;
    border-radius: 3px;
 }
  
  .editOrderModal textarea{
    width:90%;
    margin:auto;
  }
  
  .editOrderTitle{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:20%;
  }
  .editOrderDescription{
    height:10%;
  }
  .editOrderDescription p{
    border-bottom: 3px solid white;
  }
  .editOrderQty{
    height:10%;
    display:flex;
    justify-content:space-between;
  }
  .editOrderQty h3{
    width:10%;
    text-align: center;
  }
  .editOrderComment{
    height:20%;
    width:100%;
    text-align: center;
  }
  .editOrderComment textarea{
      width:100%;
      font-size: 18px;
  }
  .editOrderComment h4{
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0%;
    
}

  .editOrderButtons{
    display:flex;
    justify-content:space-around;
    
  }

  .orderSaveBtn{
    background:  #00c4a7;
    -webkit-transition: 0.2s;
    border:none;
    width:200px;
    height:80px;
    font-size:20px;
    font-weight: bolder;
    color: rgb(19, 18, 18);
    border-radius: 3px;
}
  
.orderDeleteBtn{
    background:  rgba(0, 0, 0, 0.137);
    border:1px solid rgb(161, 26, 26);
    width:200px;
    height:80px;
    font-size:20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

/* =========================================== */




/**============= Complete Order Modal========================**/
.modal_container{
    width:800px;
    height:500px;
    color:white;
    padding: 10px;
    border-radius: 3px;
   
    
}

.top{
  width:100%;
  height:80%;
  display:flex;
}

.left{
  width: 45%;
  height:auto;
  padding-left:5%;
}
.l1{
  width:100%;
  height:100px;
 
}
.l1 button{
  width:29%;
  height:70%;
  background: none;
  color:white;
  border:1px solid white;
}
.l2{
  width:100%;
  height:130px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;

}
.l2 button{
  width:89%;
  padding:1.6rem 0;
  background:none;
  border:1px solid white;
  color:white;
}
.l3{
  width:100%;
  height:200px;
  
}
.l3 input{
  padding:1.7rem 0;
  width:88%;
  background-color:lightgrey;
  font-size: 30px;
  text-align:center;
}
.right{
  width:45%;
  height:auto;
  padding-right:5%;
}
.r1{
  width:100%;
  height:100px;
  text-align:right;
  border:1px solid rgba(0, 0, 0, 0);
}
.r2{
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

}
.r2 button{
  width:89%;
  padding:1.6rem 0;
  background:none;
  border:1px solid white;
  color:white;
  
}
.r3{
  width:100%;
  height:200px;
  
  text-align:right;
}
.bottom{
  height:auto;
  width:100%;

}

.bottom button{
  width:90%;
  padding:1.7rem 0;
  text-align: center;
  margin-left:5%;
  background-color:black;
  color:white;
  border:2px solid #00c4a7;
}

.selected{
    background:white;
    color:black;
}


/**============= End of Complete Order Modal========================**/







/* =========Slider============= */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #ffffff;
    outline: none;
    border-radius: 2px;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 45px;
    background: #00c4a7;
    cursor: pointer;
    border-radius: 2px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #00c4a7;
    cursor: pointer;
}






::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}