<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid background" style="padding:0px;overflow:hidden;">
        <div class="container-fluid " style="background-color: rgba(0,0,0,0.4); margin:0px;padding:0px;">
            <div class="row" style=" height: 100vh;"> 
                <div class="col-4"></div>
                <div class=" col-4 justify-content-center align-items-center d-flex">
                    <div id="loginPanel" class="d-flex flex-column size">

                        <h1>Task Manager</h1>

                        <input v-model="user" class="form-control-lg" type="text" placeholder="Username">
                        <br>
                        <input v-model="password" class="form-control-lg my-1" type="password" placeholder="Password">
                        
                        <button v-on:click="getLoginData()" class="btn btn-lg loginButton">Login</button>
                        
                        <!-- <button onclick="window.location.href='register.html'" class="btn btn-dark my-1 btn-lg">Register</button>
                        -->
                        <a href="" class="text-white">Forgot password</a>

                    </div>   
                </div>  

                
        </div>
    </div>
</div>

<script src="vue.js"></script>
<script src="axios.js"></script>
<script src="login.js"></script>

</body>
</html>