<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid ">
        <div class="row" style=" height: 100vh;">
            <div class=" col-3 bg-info justify-content-center align-items-center d-flex " >
                <div id="registerPanel" class="d-flex flex-column lefutpecapota">

                    <input v-model="user" class="my-1 form-control-lg " type="text" placeholder="Username"  >
                  
                    <input v-model="pass" class="my-1 form-control-lg " type="password" placeholder="Password">
                    
                    <input v-model="confirmPass"  class="my-1 form-control-lg" type="password" placeholder="Confirm password">
                    
                    <button v-on:click="registerDetails()" class="my-1 btn btn-dark btn-lg btn-block ">Register</button>
                    <button class="my-1 btn btn-dark btn-lg btn-block ">Back to Login</button>
                    
                    </div>   
            </div>  

            <div class="col-9 bg-secondary erupatingura">
               
            </div>
      </div>
</div>

<script src="vue.js"></script>
<script src="axios.js"></script>
<script src="register.js"></script>

</body>
</html>