.addTasks{


        display: flex;
        flex-direction: row;

}


h1, h3{
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    font-weight: 100;
}

.tasksContainer {
 
    text-align: left;

}

.uContainer, .cContainer{
    text-align: left;
    
  
}

form{
    height: auto;
}



  .size{
    width:400px;
  }
  .background{
    background: rgb(23,162,184);
    background: url('background.jpg');
    background-size: cover;
    

  }

  input, button{
    border: none;
    outline: none;
    border-radius: 0!important;
  }

  input{
    padding: 2rem!important;
    margin-top: 1rem!important;
  }
  button{
    padding: 1.3rem!important;
    margin-top: 1rem!important;

  }

 .loginButton{
   background-color: #3f6786;
   color: white;
 }

 #loginPanel h1{
  background:none;
  text-align: center;
  -webkit-text-stroke:2px white;
  font-size: 55px;
  font-weight: 900;
 }